@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
     color: white;

     font-family: "Poppins", sans-serif;
     font-weight: 300;
     font-style: normal;
     
}

body,
html {
     background-color: rgba(50, 50, 50, 1);
     overflow-x: hidden;
}

.v {
     border: 1px solid red;
}

.letra-pulo {
     display: inline-block;
     animation: letra-pulo 1s infinite alternate;
     transition: all 1s ease-in-out;
}

.material-symbols-rounded {
     font-variation-settings: "FILL" 1, "GRAD" 0;
}

.emoji {
    position: absolute;
    font-size: 3rem;
    animation: fall 2s linear infinite;
    background-color: transparent;
    z-index: 5 !important;
}

.pulse {
    animation: heart-beat 1s infinite alternate;
}


@keyframes letra-pulo {
     0% {
          transform: translateY(0);
     }
     50% {
          transform: translateY(-20px);
     }
     100% {
          transform: translateY(0);
     }
}

@keyframes fall {
     0% {
          top: -20px;
          transform: rotate(0deg);
     }
     60% {
          opacity: 1;
     }
     100% {
          top: 540px;
          opacity: 0;
          transform: rotate(360deg);
     }
}

@keyframes heart-beat {
     0% {
          transform: scale(1);
     }
     50% {
          transform: scale(1.2);
     }
     100% {
          transform: scale(1);
     }
}

