@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
     background-repeat: no-repeat !important;
     background-size: 100dvw 100dvh !important;
     background-attachment: fixed !important;

     background: rgb(60, 60, 60);
     background: linear-gradient(
          90deg,
          rgba(60, 60, 60, 1) 0%,
          rgba(47, 47, 47, 1) 43%,
          rgba(60, 60, 60, 1) 100%
     );
}

* {
     color: white;

     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
}

/*  */

@keyframes fall {
     0% {
          top: -20px;
          transform: rotate(0deg);
     }
     60% {
          opacity: 1;
     }
     100% {
          top: 540px;
          opacity: 0;
          transform: rotate(360deg);
     }
}

@keyframes shaker {
     0% {
          transform: translateX(0px);
     }
     25% {
          transform: translateX(-2px);
     }
     50% {
          transform: translateX(2px);
     }
     75% {
          transform: translateX(-2px);
     }
     100% {
          transform: translateX(0px);
     }
}

/*  */

.fake-image {
     background-color: rgba(30, 30, 30, 1);
     border: 0px;
}

.v {
     border: 1px solid red;
}

.emoji {
     position: absolute;
     font-size: 3rem;
     animation: fall 2s linear infinite;
     background-color: transparent;
     z-index: 5 !important;
}
